In [1]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [2]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [3]:
#1 . try to extract all the list entity

In [4]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
#2 . try to extract all the dictionary entity

In [6]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [7]:
#3 . try to extract all the tuples entity

In [8]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [9]:
#4. try to extract all the numerical data it may by part of dict key and values

In [10]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)

    if type(i)==dict:
        for k,m in i.items():
            if type(k)==int or type(m)==int:
                l1.append(k)
                l1.append(m)

print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [11]:
#5. try to give summation of all the numerical data

In [12]:
sum(l1)

156

In [13]:
#6 .try to filter out all the odd values out of all the numerical data which is a part of list

In [14]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [15]:
l2 = []
for n in l1:
    if n % 2 != 0:
        l2.append(n)
print(l2)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [16]:
#7 . try to extract ineuron out of this data

In [17]:
l3 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=='ineuron':
                l3.append(j)

    if type(i)==dict:
        for k,v in i.items():
            if v=='ineuron':
                l3.append(v)
                

print(l3)

['ineuron', 'ineuron']

In [18]:
#8 . try to find out number of occurances of all the data

In [42]:
l4 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l4.append(j)

    if type(i)==dict:
        for k,v in i.items():
            l4.append(k)
            l4.append(v)

for c in set(l4):
    print(c ,":" ,  l4.count(c))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
8 : 1
sudh : 1
45 : 1
k3 : 1
kumar : 1
k2 : 1
23 : 1
ineuron : 2
data science : 1
k1 : 1

In [20]:
#9 . try to filter out all the strings data

In [21]:
l5 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l5.append(j)

    if type(i)==dict:
        for k,m in i.items():
            if type(k)==str or type(m)==str:
                l5.append(k)
                l5.append(m)

print(l5)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [ ]:
#10 . try to find out number of keys in dict element

In [45]:
l6 = []
for i in l:
    if type(i)==dict:
        for j in i.keys():
            l6.append(j)

print(l6)

['k1', 'k2', 'k3', 3, 7]

In [46]:
#11 . try to find out alphanumeric data  ## k1 ,k2,k3

In [52]:
l7 = []
for i in l:
    if type(i)==dict:
        for j in i.keys():
            if type(j)==str:
                if j.isalnum():
                    l7.append(j)
print(l7)

['k1', 'k2', 'k3']

In [53]:
#12 . try to find out multiplication of all the individual collection inside dataset

In [65]:
l1 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)

    if type(i)==dict:
        for k,m in i.items():
            if type(k)==int or type(m)==int:
                l1.append(k)
                l1.append(m)

print(l1)
a=1
for i in l1:
    a = a*i
print(a)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
908605071360000

In [ ]:
#13 . try to unwrape all the collections inside collection and create a flat list

In [68]:
l4 = []
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            l4.append(j)

    if type(i)==dict:
        for k,v in i.items():
            l4.append(k)
            l4.append(v)

print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']